### Week 1 Project
#### Part 1: From the dataset above, write Python code to answer the following questions:     
1. 
Find all records where the weather was exactly clear                   .2. 
Find the number of times the wind speed was exactly 4 km/h    r3. .
Check if there are any NULL values present in the datas      e4. t.
Rename the column "Weather" to "Weather_Conditi    o5. n."
What is the mean visibility of the dat      a6. set?
Find the number of records where the wind speed is greater than 24 km/hr and visibility is equal to       27. 5 km.
What is the mean value of each column for each weather con     d8. ition?
Find all instances where the weather is clear and the relative humidity is greater than 50, or visibility is a      b9. ove 40.
Find the number of weather conditions that incl     u
#### de snow.
Part 2: Move this CSV into a database of your choice and use SQL to answer 4 of the questions above.

In [2]:
# Load libraries
import pandas as pd
import numpy as np

In [3]:
# Load data
data = pd.read_csv("1. Weather Data.csv")
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
# Check the info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [5]:
# Convert the data column to date
data['Date/Time'] = pd.to_datetime(data['Date/Time'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   datetime64[ns]
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

### Questions

In [7]:
# Q1: Records where Weather == Clear
data[data.Weather == 'Clear']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,2012-01-03 19:00:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,2012-01-05 18:00:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,2012-01-05 19:00:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,2012-01-05 20:00:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,2012-01-05 21:00:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,2012-12-26 06:00:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,2012-12-28 10:00:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,2012-12-29 01:00:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,2012-12-29 02:00:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [8]:
# Q2: Number of records with wind speed == 4km/hr
data[data['Wind Speed_km/h'] == 4].shape[0]

474

In [9]:
# Q3: Check for null values
data.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [10]:
# Q4: Rename Weather column to Weather_Condition
data.rename(columns = {'Weather':'Weather_Condition'}, inplace=True)
data.tail(3)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [11]:
# Q5: Mean visibility
data.Visibility_km.mean()

27.664446721311478

In [12]:
# Q6: records where wind speed > 24 km/hr and visibility == 25 km
data[(data['Wind Speed_km/h'] > 24) & (data['Visibility_km'] == 25)].shape[0]

308

In [13]:
# Q7: Mean value for each weather condition
data[['Temp_C', 'Dew Point Temp_C', 'Rel Hum_%', 
'Wind Speed_km/h', 'Visibility_km', 'Press_kPa'
]].mean()

Temp_C                8.798144
Dew Point Temp_C      2.555294
Rel Hum_%            67.431694
Wind Speed_km/h      14.945469
Visibility_km        27.664447
Press_kPa           101.051623
dtype: float64

In [14]:
# Q8: where Weather == Clear and the relative humidity > 50, or visibility > 40
data[(data['Weather_Condition'] == 'Clear') & ((data['Rel Hum_%'] > 50) | (data['Visibility_km'] > 40))]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
114,2012-01-05 18:00:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,2012-01-05 19:00:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,2012-01-05 20:00:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,2012-01-05 21:00:00,-9.0,-14.8,63,13,25.0,100.83,Clear
241,2012-01-11 01:00:00,-10.7,-17.8,56,17,25.0,101.49,Clear
...,...,...,...,...,...,...,...,...
8646,2012-12-26 06:00:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,2012-12-28 10:00:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,2012-12-29 01:00:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,2012-12-29 02:00:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [15]:
# Q9: Number of weather conditions that include snow
data[data['Weather_Condition'].str.contains('Snow', case = False)].shape[0]

583